.SearchBar input {
    border-radius: 20px;
    color: #3A4A56;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
.SearchIcon:hover {
    cursor: default;
    color: #F2B55A;
  }

.SearchBar{
    padding-left: 5px;
  }

.Form{
  margin-left: 15px;
  margin-right: 15px;
}
.Header{
  color: #FFFFFF;
  padding-left: 15px; 
}