
.Title{
    text-align: center;
}
.TaskNames{
    background-color: #F0ECEF;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;
}   
.Edit{
    background-color: #EFD6B4;
    border-radius: 25px;
    padding:10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}