.Search{
}
.SearchBar input {
    border-radius: 20px;
    color: #3A4A56;
    padding-left: 40px;
  }
  
.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding:10px
    
    
  }
  
.SearchIcon:hover {
    cursor: default;
    color: #F2B55A;
  }

.AddBoard{
  display: flex; 
}


.AddBoardText{
  display: inline-block;
  color: #F2B55A;
  opacity: 0%;
}


.Form{
  margin-left: 15px;
  margin-right: 15px;
}
.Header{
  color: #FFFFFF;
}

