
.Title{
    padding: 5px;
    text-align: center;
}
.Title:hover{
    color: #F2B55A;
}


.TaskCount{
    background-color: #F0ECEF;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;
    color: #3A4A56;
    text-align: center;

}   
.Edit{
    background-color: #EFD6B4;
    border-radius: 25px;
    padding:10px;
    margin-top: 10px;
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
    text-align: center;
}
.Card{
    border-radius: 25px;
    margin-bottom: 20px;

}

.More{
    float: right;
}