.Task {
  margin: 10px;
  border-radius: 25px;
  padding: 25px;
}

.Title {
  font-weight: bold;
  color: #3A4A56;
  margin-right: 8px;
}

.Details {
  margin-right: 8px;
}
  
.Attachment{
  margin-top: 10px;
}
.Paperclip{
  max-height: 30px;
margin-left: 10px;

}