.Form {
    background-color: #3A4A56;
    border-radius: 25px;
  }
  
  .Button {
    border: none;
    background-color: #3A4A56;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #3A4A56;
  }