.App {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  min-height: 100vh;
  color: #3A4A56;
  }

  .Row{
    padding:0px 7px 20px 15px;
  }

  .Main {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  
  .Container {
    background-color: #3A4A56;
    border-radius: 25px;
    padding: 30px;
 }
  .Content {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    color: #3A4A56;
  }
  
  .FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
  }
  .Formtitle{
    color: #f1f1f1;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #555555;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #3A4A56;
    transition: color ease-in-out 0.3s;
  }
  
  /* input[type="file"] {
    display: none;
  } */
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
  }
  
  figure {
    text-align: center;
    display: inline-block;
  }
  
  /* scrollbar */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background: #888;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }